*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --bgcol: #37474F;
  --mcol0: #29B6F6;
  --mcol1: #2196F3;
  --mcol2: #1976D2;
  --txtcol0: #90A4AE;
  --txtcol1: #607D8B;
  --whitecol: #ECEFF1;
  --darkcol: #263238;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh;
  background-color: var(--bgcol);
}

h1{
  padding: 0;
  margin: 0;
  color: var(--whitecol);
  font-size: 10vw;
}

#game{
  margin: 30px;
  font-size: 30px;
}

#container{
  position: relative;
  overflow: hidden;
  width: 75vh;
  height: 75vh;
  background-color: var(--darkcol);
  border-radius: 0.75rem;
  border: 0.1rem solid var(--mcol0);
  box-shadow: 0rem 0.75rem 0rem var(--mcol0);
}

.block{
  position: absolute;
  left: 0;
  top: 0;
  width: 33.9%;
  height: 33.9%;
  border: 0.1rem solid var(--mcol0);
  background-color: var(--txtcol1);
  color: var(--whitecol);
  font-size: 15vmin;
  font-weight: bold;
  text-align: center;
  padding: 3%;
  cursor: pointer;
  user-select: none;
}
.block:hover{
  background-color: var(--txtcol0);
}